[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Exec=smplayer2 -add-to-playlist %U
Icon=application-x-smplayer2
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;
Name=Enqueue in SMPlayer2
Name[cs]=Přidat do fronty SMplayeru
Name[es]=Añadir a la lista de reproducción de SMPlayer2
Name[hu]=Felvétel az SMPlayer2 lejátszólistára
Name[ja]=SMPlayer2 でエンキュー
Name[it]=In coda in SMPlayer2
Name[nl]=In wachtrij van SMPlayer2
Name[pt]=Em fila no SMPlayer2
Name[ru]=Добавить в очередь SMPlayer2
Name[uk]=Додати до черги SMPlayer2
Name[de]=In SMPlayer2 einreihen
Name[eu]=Lerrokatu SMPlayer2ren
Comment=Add file(s) to the SMPlayer2 playlist
Comment[cs]=Přidá soubor(y) do přehrávací fronty SMPlayer2u
Comment[es]=Añade ficheros a la lista de reproducción de SMPlayer2
Comment[hu]=Fájl(ok) hozzáadása az SMPlayer2 lejátszólistájához
Comment[ja]=ファイルを SMPlayer2 のプレイリストに追加します
Comment[it]=Aggiungi alla lista di riproduzione di SMPlayer2
Comment[nl]=Bestanden toevoegen aan de afspeellijst van SMPlayer2
Comment[pt]=Adicionar ficheiro(s) à lista de reprodução do SMPlayer2
Comment[ru]=Добавить файл(ы) в конец списка воспроизведения SMPlayer2
Comment[uk]=Додати файл(и) до переліку програвання SMPlayer2
Comment[de]=Datei(en) zur SMPlayer2 Wiedergabeliste hinzufügen
Comment[eu]=Gehitu agiria(k) SMPlayer2 irakur-zerrendara
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
X-KDE-Protocols=http;ftp;smb